/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* body style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin-top: 21px;
    background-color: #F5F5F5;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* top player style */
.top-players{
    margin-bottom: 22px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin: 3px 0 40px 0;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player{
    display: flex;
    align-items: center ;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
/* -----------------------
        blog style
--------------------
*/
.top-blog{
    margin-top: 22px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;

}
/* Blog thumbnail */
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
/* Blog info */
.blog-info{
    font-size: 20px;
    margin-left: 16px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}

/* --------------------
    Latest Course Style
    ----------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.rating{
    display: flex;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.rating span{
    font-size: 15px;
    color: #A2A2A2;
    font-weight: 400;
}
.duration{
    background: #FFE4E8;
    padding: 7px;
    border-radius: 15px;
}
.duration span{
    font-size: 15px;
    color: #FF4A60;
}
.fa-clock{
    color: #FF4A60;
    height: 17px;
    width: 17px;    
}
.duration-time p{
    font-size: 15px;
    font-weight: 600;
}